/* Styling for the navbar */
#mainNav {
    position: absolute;
    border-bottom: 1px solid #e2e6ea; /* $gray-200 */
    background-color: white;
    font-family: 'Arial', sans-serif; /* $headings-font-family */

    /* Navbar brand */
    .navbar-brand {
        font-weight: 800;
        color: #343a40; /* $gray-800 */
    }

    /* Navbar toggler */
    .navbar-toggler {
        font-size: 12px;
        font-weight: 800;
        padding: 13px;
        text-transform: uppercase;
        color: #343a40; /* $gray-800 */
    }

    /* Navbar items */
    .navbar-nav > li.nav-item > a {
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    /* Media query for screens larger than 992px */
    @media only screen and (min-width: 992px) {
        border-bottom: 1px solid transparent;
        background: transparent;

        .navbar-brand {
            padding: 10px 20px;
            color: white;

            &:focus,
            &:hover {
                color: rgba(255, 255, 255, 0.8); /* fade-out($white, .2) */
            }
        }

        .navbar-nav > li.nav-item > a {
            padding: 10px 20px;
            color: white;

            &:focus,
            &:hover {
                color: rgba(255, 255, 255, 0.8); /* fade-out($white, .2) */
            }
        }
    }

    /* Media query for screens larger than 992px */
    @media only screen and (min-width: 992px) {
        transition: background-color 0.2s;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;

        &.is-fixed {
            /* When the user scrolls down, we hide the header right above the viewport */
            position: fixed;
            top: -67px;
            transition: transform 0.2s;
            border-bottom: 1px solid #f8f9fa; /* darken($white, .05) */
            background-color: rgba(255, 255, 255, 0.9); /* fade-out($white, .1) */

            .navbar-brand {
                color: #212529; /* $gray-900 */

                &:focus,
                &:hover {
                    color: #007bff; /* $primary */
                }
            }

            .navbar-nav > li.nav-item > a {
                color: #212529; /* $gray-900 */

                &:focus,
                &:hover {
                    color: #007bff; /* $primary */
                }
            }
        }

        &.is-visible {
            transform: translate3d(0, 100%, 0);
        }
    }
}

.nav-pill {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: 50rem;
    background-color: #224785;
    color: white !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-pill:hover {
    background-color: #1c3c73;
    text-decoration: none;
}

.nav-sponsor {
    background-color: white;
    color: black !important;
}

.nav-sponsor:hover {
    background-color: lightgray;
}
