.fade-div {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.1s ease;
    z-index: 3;
}

.img-container {
    position: absolute;
    margin-top: 55vh;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    z-index: 1;
}

#fade-out {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: opacity 0.1s ease;
    z-index: 2;
    max-width: 90%;
    max-height: 90%;
}

.project-title {
    // background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

#subteam-A {
    z-index: 1020;
}

#subteam-B {
    z-index: 1020;
}

#subteam-C {
    z-index: 1020;
}

#subteam-D {
    z-index: 1020;
}

#subteam-E {
    z-index: 1020;
}

#subteam-F {
    z-index: 1020;
}

@media only screen and (min-width: 1200px) {
    #fade-out {
        z-index: 0;
        position: fixed;
    }
}