.home-background {
    // background-image: url('/assets/backgrounds/bnb.JPG');
    background-color: #212529;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 2s ease-in-out;
    position: relative;
    z-index: 0;
    height: 100vh;
}

.home-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  transition: background-image 2s ease-in-out;
  filter: brightness(50%); /* Add your desired filters here */
  z-index: -1; /* Ensure the filter stays behind the content */
}

@media only screen and (min-width: 992px) {
  .home-background {
    background-attachment: fixed;
  }
}