// Styling for the navbar
#mainNav {
    position: absolute;
    border-bottom: 1px solid $gray-200;
    background-color: white;
    font-family: $headings-font-family;

    .navbar-brand {
        font-weight: 800;
        color: $gray-800;
    }

    .navbar-toggler {
        font-size: 12px;
        font-weight: 800;
        padding: 13px;
        text-transform: uppercase;
        color: $gray-800;
    }

    .navbar-nav {
        a:not(.btn-social) {
            font-size: 12px;
            font-weight: 800;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $gray-800;
        }
        a.dropdown-item {
            color: $gray-500;
        }

        >li.nav-item {

            .nav-pill {
                color: #224785;
            }
            
            .nav-sponsor {
                color: $gray-500;
            }
            
        }

    }

    // Logo banner on main page
    .navbar-brand {
        display: none;
        filter: invert(1);
        // transform: scale(0.2);
        // transform-origin: center center !important;
    }

    .home-button {
        display: block;
    }

    // Dropdown menu
    .dropdown-menu {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .dropdown-menu .dropdown-item {
        background-color: rgba(255, 255, 255, 0.9);
        color: #000;
        padding: 5px 20px;
        font-weight: 800;
        border-radius: 5px;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: #224785;
        color: #000;
    }

    .dropdown-menu.show {
        padding: 0;
        margin-top: 0;
    }

    .dropdown-menu {
        min-width: 150px;
    }
    
    .dropdown-hover-all .dropdown-menu, .dropdown-hover > .dropdown-menu.dropend { margin-left:-1px !important }

    // Settings for desktop view
    @media only screen and (min-width: 992px) {
        border-bottom: 1px solid transparent;
        background: transparent;

        .navbar-brand {
            padding: 10px 20px;
            color: $white;

            &:focus,
            &:hover {
                color: fade-out(#224785, .2);
            }
        }

        .navbar-nav {
            a:not(.btn-social) {
                padding: 10px 20px;
                color: $white;

                &:focus,
                &:hover {
                    color: fade-out(#224785, .2);
                }
            }
            a.dropdown-item {
                color: $gray-400;
            }
        }

        .nav-pill {
            display: inline-block;
            padding: 0.375rem 0.75rem;
            border-radius: 50rem;
            background-color: #224785;
            color: white !important;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            border: 1px solid transparent;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        
        .nav-pill:hover {
            background-color: fade-out(#224785, .2);
            text-decoration: none;
        }
        
        .nav-sponsor {
            background-color: $gray-200;
            color: black !important;
        }
        
        .nav-sponsor:hover {
            background-color: fade-out($white, .2);
        }
        
        // Make logo white on desktop
        .navbar-brand {
            display: block;
            filter: invert(0);
            transform: scale(1.5);
            transform-origin: center right !important;
        }

        // Dropdown menu for desktop view
        .dropdown-menu {
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
    
        .dropdown-menu .dropdown-item {
            background-color: rgba($color: #000000, $alpha: 0.1);
            color: #ffffff;
        }
    
        .dropdown-menu .dropdown-item:hover {
            background-color: rgba(255, 255, 255, 0.5);
            color: #fff;
        }
    }

    @media only screen and (min-width: 992px) {
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &.is-fixed {
            /* when the user scrolls down, we hide the header right above the viewport */
            position: fixed;
            top: -67px;
            -webkit-transition: -webkit-transform 0.2s;
            -moz-transition: -moz-transform 0.2s;
            transition: transform 0.2s;
            border-bottom: 1px solid darken($white, .05);
            background-color: fade-out($white, .1);
            padding-top: 8px;
            padding-bottom: 0px;
            
            .navbar-brand {
                display: block;
                filter: invert(1);
            }

            .home-button {
                display: none;
            }

            .navbar-brand {
                color: $gray-900;

                &:focus,
                &:hover {
                    color: #224785;
                }
            }

            .navbar-nav {
                >li.nav-item {
                    >a {
                        color: $gray-900;

                        &:focus,
                        &:hover {
                            color: #224785;
                        }
                    }
                }
            }

            .nav-pill {
                display: inline-block;
                padding: 0.375rem 0.75rem;
                border-radius: 50rem;
                background-color: $gray-600;
                color: white !important;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                border: 1px solid transparent;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }
            
            .nav-pill:hover {
                background-color: fade-out($gray-600, 0.2);
                text-decoration: none;
            }
            
            .nav-sponsor {
                background-color: #224785;
                color: white !important;
            }
            
            .nav-sponsor:hover {
                background-color: fade-out(#224785, 0.2)
            }
        }

        &.is-visible {
            /* if the user changes the scrolling direction, we show the header */
            -webkit-transform: translate3d(0, 100%, 0);
            -moz-transform: translate3d(0, 100%, 0);
            -ms-transform: translate3d(0, 100%, 0);
            -o-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
    }

    @media only screen and (min-width: 1400px) {
        .navbar-brand {
            display: block;
            filter: invert(0);
            transform: scale(0.8);
            transform-origin: center right !important;
        }

        &.is-fixed {
            margin-top: -27px;
        }
    }
}